<launch>
	<!-- These are all Subscriber ( ROS-to-IPC-to-Matlab ) in ipc-bridge -->
	<node pkg="ipc_geometry_msgs" name="ipc_sub_node_posearray"           type="geometry_msgs_PoseArray_publisher"           output="screen"><remap from="~topic" to="/posearray"         /><param name="message" value="posearray"         /></node>
	<node pkg="ipc_geometry_msgs" name="ipc_sub_node_posestamped"         type="geometry_msgs_PoseStamped_publisher"         output="screen"><remap from="~topic" to="/posestamped"       /><param name="message" value="posestamped"       /></node>
	<node pkg="ipc_geometry_msgs" name="ipc_sub_node_posewithcovariance"  type="geometry_msgs_PoseWithCovariance_publisher"  output="screen"><remap from="~topic" to="/posewithcovariance"/><param name="message" value="posewithcovariance"/></node>
	<node pkg="ipc_geometry_msgs" name="ipc_sub_node_pose"                type="geometry_msgs_Pose_publisher"                output="screen"><remap from="~topic" to="/pose"              /><param name="message" value="pose"              /></node>
	<node pkg="ipc_geometry_msgs" name="ipc_sub_node_quaternion"          type="geometry_msgs_Quaternion_publisher"          output="screen"><remap from="~topic" to="/quaternion"        /><param name="message" value="quaternion"        /></node>
	<node pkg="ipc_geometry_msgs" name="ipc_sub_node_twiststamped"        type="geometry_msgs_TwistStamped_publisher"        output="screen"><remap from="~topic" to="/twiststamped"      /><param name="message" value="twiststamped"      /></node>
	<node pkg="ipc_geometry_msgs" name="ipc_sub_node_twist"               type="geometry_msgs_Twist_publisher"               output="screen"><remap from="~topic" to="/twist"             /><param name="message" value="twist"             /></node>
	<node pkg="ipc_geometry_msgs" name="ipc_sub_node_vector3stamped"      type="geometry_msgs_Vector3Stamped_publisher"      output="screen"><remap from="~topic" to="/vector3stamped"    /><param name="message" value="vector3stamped"    /></node>
	<node pkg="ipc_geometry_msgs" name="ipc_sub_node_vector3"             type="geometry_msgs_Vector3_publisher"             output="screen"><remap from="~topic" to="/vector3"           /><param name="message" value="vector3"           /></node>
	<node pkg="ipc_nav_msgs"      name="ipc_sub_node_odometry"            type="nav_msgs_Odometry_publisher"                 output="screen"><remap from="~topic" to="/odometry"          /><param name="message" value="odometry"          /></node>
	<node pkg="ipc_sensor_msgs"   name="ipc_sub_node_image"               type="sensor_msgs_Image_publisher"                 output="screen"><remap from="~topic" to="/image"             /><param name="message" value="image"             /></node>
	<node pkg="ipc_sensor_msgs"   name="ipc_sub_node_imu"                 type="sensor_msgs_Imu_publisher"                   output="screen"><remap from="~topic" to="/imu"               /><param name="message" value="imu"               /></node>
	<node pkg="ipc_sensor_msgs"   name="ipc_sub_node_laserscan"           type="sensor_msgs_LaserScan_publisher"             output="screen"><remap from="~topic" to="/laserscan"         /><param name="message" value="laserscan"         /></node>
	<node pkg="ipc_sensor_msgs"   name="ipc_sub_node_pointcloud"          type="sensor_msgs_PointCloud_publisher"            output="screen"><remap from="~topic" to="/pointcloud"        /><param name="message" value="pointcloud"        /></node>
	<node pkg="ipc_std_msgs"      name="ipc_sub_node_bool"                type="std_msgs_Bool_publisher"                     output="screen"><remap from="~topic" to="/bool"              /><param name="message" value="bool"              /></node>
	<node pkg="ipc_std_msgs"      name="ipc_sub_node_string"              type="std_msgs_String_publisher"                   output="screen"><remap from="~topic" to="/string"            /><param name="message" value="string"            /></node>
</launch>